<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meet.kissankart">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BuyerSeller" />
        <activity android:name=".RegisterSeller" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SellerFp" />
        <activity android:name=".SellerResetPw" />
        <activity android:name=".PRSuccessfull" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BuyerLogin" />
        <activity android:name=".BuyerRegistration" />
        <activity android:name=".BuyerFp" />
        <activity android:name=".BuyerResetPs" />
        <activity android:name=".PRSuccessfulBuyer" />
        <activity android:name=".CategoryContainer" />
        <activity android:name=".ProductContainer" />
        <activity android:name=".CourierAddressActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".CartContainer" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".UserProfile" />
        <activity android:name=".orderplaced" />
        <activity android:name=".OrderHistoryContainer" />
        <activity android:name=".OrderHistoryContainerReturns" />
        <activity android:name=".ShowOrderReturns"></activity>
    </application>

</manifest>